{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": ["add-module-exports", "transform-decorators-legacy", "transform-class-properties", "transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack/test.config.js", "verbose": false }]
      ]
    }
  }
}
