doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='manifest', href='./manifest.json')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons', type='text/css' )
    title KeyCache (PWA)
  body
    #root
    script(src='./js/kcapp.bundle.js')

